<div class="container">
    <section class="top-section">
        <div class="top">
            <div class="order">
                <p>Order</p>
            </div>
            <div class="profile">
                <div><input type="text" placeholder="Search in Knock N'Door"></div>
                <div id="notification"><i class='bx bx-bell'></i><div id="red">.</div></div>
                <div><img src="profile.jpg" alt=""><i class='bx bxs-chevron-down' id="pid"></i></div>
            </div>
        </div>
        <div class="bottom">
            <div id="time">
                <p id="pickup">Pickup 1</p>
                <div class="c" data-abbr="24 Orders">
                    <p>24 Order - 9:05 am</p>
                </div>
            </div>
            <div id="pickups">
                <button>Pickups<i class='bx bxs-chevron-down'></i></button>
            </div>
        </div>
    </section>
    <section>
        <app-table></app-table>
    </section>
</div>