<div class="container">
    <table rules="none">
        <tr id="data6">
            <th>Sn</th>
            <th>Product Name</th>
            <th>Quanity</th>
            <th>Price</th>
            <th>Total Price</th>
        </tr>
        <tr id="data6">
            <td>1.</td>
            <td>Cheese Stack</td>
            <td>1 pic</td>
            <td>&euro;2.00</td>
            <td>&euro;2.00</td>
        </tr>
        <tr id="data6">
            <td>2.</td>
            <td>Greek Style Salad</td>
            <td>2 pic</td>
            <td>&euro;4.00</td>
            <td>&euro;8.00</td>
        </tr>
        <tr id="data6">
            <td>3.</td>
            <td>30 Chicken Salad & Peanut Dip</td>
            <td>3 pic</td>
            <td>&euro;11.00</td>
            <td>&euro;33.00</td>
        </tr>
        <tr id="data6">
            <td>4.</td>
            <td>Wrap Platter</td>
            <td>1 pic</td>
            <td>&euro;15.00</td>
            <td>&euro;15.00</td>
        </tr>
        <tr id="data6">
            <td>5.</td>
            <td>Moroccan Style Couscous</td>
            <td>2 pic</td>
            <td>&euro;3.00</td>
            <td>&euro;6.00</td>
        </tr>
        <tr>
            <td></td>
            <td>Total Price</td>
            <td></td>
            <td></td>
            <td>&euro;62.00</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><div id="b1"><Button>Cancel Order</Button></div></td>
            <td><div id="b2"><Button>Accept for Pickup</Button></div></td>
        </tr>
    </table>
</div>
