<div class="container">
    <table id="table1">
        <tr>
            <td class="values" id="hide"><p>#2539</p></td>
            <td class="values" id="warp"><p>Jordan Smith</p></td>
            <td class="values" id="hide"><p>31 July 2020</p></td>
            <td class="values"><p>&euro;46.00</p></td>
            <td class="values" id="warp"><p id="completed">Completed</p></td>
            <td class="actions"><i class='bx bxs-cog'></i></td>
            <td class="actions"><i class='bx bx-chevron-down'></i></td>
        </tr>
    </table>
    <table id="table2" class="top-table" style="padding-top: 10px;">
        <tr>
            <th class="values" id="hide">OrderId</th>
            <th class="values">Customer</th>
            <th class="values" id="hide">Date</th>
            <th class="values">Price</th>
            <th class="values">Status</th>
            <th class="actions" id="action">Action</th>
            <th class="actions"><i class='bx bxs-chevron-up'></i></th>
        </tr>
        <tr>
            <td class="values" id="hide">#2540</td>
            <td class="values" id="warp"><p>Rowena Rice</p></td>
            <td class="values" id="hide">31 July 2020</td>
            <td class="values">&euro;62.00</td>
            <td class="values" id="warp"><p id="pending">Pending</p></td>
            <td class="actions"><i class='bx bxs-cog'></i></td>
            <td class="actions"></td>
        </tr>
    </table>
    <div id="table2" class="table-center">
        <h1>Order Details</h1>
        <app-orderdetail></app-orderdetail>
    </div>
    <table id="table3">
        <tr>
            <td class="values" id="hide">#2541</td>
            <td class="values" id="warp"><p>Harrison Sarratt</p></td>
            <td class="values" id="hide">31 July 2020</td>
            <td class="values">&euro;116.00</td>
            <td class="values" id="warp"><p id="pending">Pending</p></td>
            <td class="actions"><i class='bx bxs-cog'></i></td>
            <td class="actions"><i class='bx bx-chevron-down'></i></td>
        </tr>
    </table>
</div>
