<div class="container">
    <div class="logo">
        <p><Strong id="pick">Pick</Strong>Your<strong id="cloth">Cloth</strong></p>
    </div>
    <div class="navigation">
        <div class="bars">
            <i class='bx bxs-dashboard'></i>
            <div>Dashboard</div>
        </div>
        <div class="bars">
            <i class='bx bx-cart-alt'></i>
            <div>Orders</div>
        </div>
        <div class="bars">
            <i class='bx bx-pie-chart-alt-2'></i>
            <div>Statistic</div>
        </div>
        <div class="bars">
            <i class='bx bx-package'></i>
            <div>Product</div>
        </div>
        <div class="bars">
            <i class='bx bx-trending-up'></i>
            <div>Stock</div>
        </div>
        <div class="bars">
            <i class='bx bx-purchase-tag-alt'></i>
            <div>Offer</div>
        </div>
    </div>
</div>